---
layout: default
---


<!-- Main -->
<div id="main">
    <section>
        <p id="latest">Latest blog post</p>
        {% for post in site.posts limit:1 %}
            {% assign page = post %}
            {% include post.html %}
        {% endfor %}
    </section>
    <section class="see-more">
        <h2>See also</h2>
        <div class="row">
            {% for post in site.posts offset:1 limit:2 %}
            <article class="{% cycle '6u', '6u$' %} 12u(small)">
                <header>
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </header>
                <section>
                    {% if post.image %}
                    <a href="{{ post.url }}"><img class="image fit thumb" src="{{ post.image }}" alt=""/></a>
                    {% endif %}
                    {{ post.excerpt }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button">Continue reading <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </footer>
            </article>
            {% endfor %}
        </div>
        <div>
            <a class="button" href="/blog/">Browse all posts</a>
        </div>
    </section>
</div>
