div.highlight code, div.highlight pre{color:#fdce93;background-color:#3f3f3f; border-radius: 10px;}
div.highlight pre code {border: none }
div.highlight .hll{background-color:#222}
div.highlight .c{color:#7f9f7f}
div.highlight .err{color:#e37170;background-color:#3d3535}
div.highlight .g{color:#7f9f7f}
div.highlight .k{color:#f0dfaf}
div.highlight .l{color:#ccc}
div.highlight .n{color:#dcdccc}
div.highlight .o{color:#f0efd0}
div.highlight .x{color:#ccc}
div.highlight .p{color:#41706f}
div.highlight .cm{color:#7f9f7f}
div.highlight .cp{color:#7f9f7f}
div.highlight .c1{color:#7f9f7f}
div.highlight .cs{color:#cd0000;font-weight:bold}
div.highlight .gd{color: #ff3336}
div.highlight .ge{color:#ccc;font-style:italic}
div.highlight .gr{color:red}
div.highlight .gh{color:#dcdccc;font-weight:bold}
div.highlight .gi{color:#00cd00}
div.highlight .go{color:gray}
div.highlight .gp{color:#dcdccc;font-weight:bold}
div.highlight .gs{color:#ccc;font-weight:bold}
div.highlight .gu{color:#8fbede;font-weight:bold}
div.highlight .gt{color:#0040D0}
div.highlight .kc{color:#dca3a3}
div.highlight .kd{color:#ffff86}
div.highlight .kn{color:#dfaf8f;font-weight:bold}
div.highlight .kp{color:#cdcf99}
div.highlight .kr{color:#cdcd00}
div.highlight .kt{color:#00cd00}
div.highlight .ld{color:#cc9393}
div.highlight .m{color:#8cd0d3}
div.highlight .s{color:#cc9393}
div.highlight .na{color:#9ac39f}
div.highlight .nb{color:#efef8f}
div.highlight .nc{color:#efef8f}
div.highlight .no{color:#ccc}
div.highlight .nd{color:#ccc}
div.highlight .ni{color:#c28182}
div.highlight .ne{color:#c3bf9f;font-weight:bold}
div.highlight .nf{color:#efef8f}
div.highlight .nl{color:#ccc}
div.highlight .nn{color:#8fbede}
div.highlight .nx{color:#ccc}
div.highlight .py{color:#ccc}
div.highlight .nt{color:#9ac39f}
div.highlight .nv{color:#dcdccc}
div.highlight .ow{color:#f0efd0}
div.highlight .w{color:#ccc}
div.highlight .mf{color:#8cd0d3}
div.highlight .mh{color:#8cd0d3}
div.highlight .mi{color:#8cd0d3}
div.highlight .mo{color:#8cd0d3}
div.highlight .sb{color:#cc9393}
div.highlight .sc{color:#cc9393}
div.highlight .sd{color:#cc9393}
div.highlight .s2{color:#cc9393}
div.highlight .se{color:#cc9393}
div.highlight .sh{color:#cc9393}
div.highlight .si{color:#cc9393}
div.highlight .sx{color:#cc9393}
div.highlight .sr{color:#cc9393}
div.highlight .s1{color:#cc9393}
div.highlight .ss{color:#cc9393}
div.highlight .bp{color:#efef8f}
div.highlight .vc{color:#efef8f}
div.highlight .vg{color:#dcdccc}
div.highlight .vi{color:#ffffc7}
div.highlight .il{color:#8cd0d3}
